modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["unzip", "psmisc"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "App Server"

[[workflows.workflow]]
name = "App Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host --port 5000 --strictPort"
waitForPort = 5000

[[workflows.workflow]]
name = "app"
mode = "sequential"
author = 45930370

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Run"
mode = "sequential"
author = 45930370

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow]]
name = "Dev"
mode = "sequential"
author = 45930370

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 80

[[ports]]
localPort = 4173

[[ports]]
localPort = 5000
externalPort = 3000

[[ports]]
localPort = 8081

[deployment]
build = ["npm", "run", "build"]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[userenv]

[userenv.shared]
SESSION_SECRET = "2ClD/Pnp33LYcTvbH0aHj5nnmYkaFv0E5h4AjmMuCMbCZOMD1zYpwb5a2LyDcOyh8a3wtcGvoYLxpd+hGqtjJA=="
