ภาพเคลื่อนไหว: มีเชน แดปป์ 3ส ง่ายเข้า 2ส 1 ถอยหลังปกติ

@คีย์เฟรม มีเชน แดปป์ {
  0% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวกในการ;
    ความทึบ: 0;
    แปลงร่าง: แปลX(250px);
  }

  38% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวก;
    ความทึบ: 1;
    แปลงร่าง: แปลX(0);
  }

  55% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวกในการ;
    แปลงร่าง: แปลX(68px);
  }

  72% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวก;
    แปลงร่าง: แปลX(0);
  }

  81% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวกในการ;
    แปลงร่าง: แปลX(32px);
  }

  90% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวก;
    แปลงร่าง: แปลX(0);
  }

  95% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวกในการ;
    แปลงร่าง: แปลX(8px);
  }

  100% {
    ฟังก์ชั่นจับเวลาแอนิเมชั่น: ความสะดวก;
    แปลงร่าง: แปลX(0);
  }
}